* {
	margin : 0;
	padding: 0;
	box-sizing:border-box ;
}
.container{
	background-color: antiquewhite;
	padding: 20px;
	margin: 50px;
	display: flex;
	
}
.item{
	background-color: brown;
	color: white;
	font-size: large;
	padding: 20px;
	margin: 10px;
}